.carrito > h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.productos-carrito {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
}

.productos-carrito-table {
    background-color: var(--color-fondo);
    border: none;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.boton-eliminar-td {
    text-align: center;
    width: 10%;
    padding: 0.5em;
    margin: 0.5em;
}

.boton-vaciar-carrito-th {
    text-align: right;
}

.producto-card {
    background-color: var(--color-fondo);
    border-radius: 10px;
    border: none;
    padding: 1em;
    margin: 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.cuerpo-card {
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
}

.imagen-card {
    text-align: center;
    width: 20%;
    padding: 0.5em;
    margin: 0.5em;
}

.imagen-card > img {
    width: 10%;
    height: auto;
}

.descripcion-card-td {
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
}

.precio-card-td, .total-card-td {
    text-align: right;
    padding: 0.5em;
    margin: 0.5em;
}

.precio-card {
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
    text-align: end;
}

.total-carrito {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: var(--color-fondo);
    border-radius: 10px;
    
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 6em;
    margin-right: 6em;
}

.total-carrito > button {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.cuerpo-total-carrito {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#finalizarCompraForm > div > h3 {
    margin-top: 0.5rem;
}

#mensajeErrorEnvio {
    display: none;
    text-align: center;
    margin-top: 1em;
}

#mensajeErrorEnvio p {
    color: red;
    font-weight: bold;
}

#mensajeErrorEnvio.mensajeVisible {
    display: block;
}

@media  (max-width: 48em) {
    .productos-carrito {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    .productos-carrito-table {
        width: 100%;
    }

    .producto-card {
        padding: 0.5em;
        margin: 0.5em;
    }

    .descripcion-card-td {
        padding: 0.25em;
        margin: 0.25em;
        text-align: left;
    }

    .precio-card-td, .total-card-td {
        padding: 0.25em;
        margin: 0.25em;
    }

    .total-card-td {
        padding-right: 0.5em;
    }

    .precio-card-td {
        text-align: center;
    }
    
    .precio-card {
        margin-left: 0.5em;
        margin-right: 1em;
    }

    .imagen-card {
        display: none;
    }

    .total-carrito {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        margin-left: 1.2em;
        margin-right: 1.2em;
    }
    
    .total-carrito > button {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0.5em;
    }
}

#finalizarCompraForm > div {
    display: grid;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#finalizarCompraForm > div > p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#finalizarCompraForm > div > form > .campos > label {
    margin-bottom: 0.2em;
}

#finalizarCompraForm > div > form > .campos > input {
    margin-bottom: 1em;
}

#finalizarCompraForm > div > form > .campos {
    display: grid;
}

#finalizarCompraForm > div > form > .botones {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#finalizarCompraForm > div > form > .botones > button {
    background-color: var(--color-fondo-boton);
    color: var(--color-texto);
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
}

#finalizarCompraForm > div > .productos-fin-compra {
    margin-bottom: 1em;
}

@media (max-width: 30em) {
    .productos-carrito {
        margin-left: 0.1em;
        margin-right: 0.1em;
    }

    .productos-carrito-table {
        width: 100%;
    }

    .productos-carrito-table tr {
        display: flex;
        flex-direction: column;
    }

    .producto-card {
        padding: 0.3em;
        margin: 0.3em;
    }

    .descripcion-card-td {
        padding: 0.1em;
        margin: 0.1em;
        text-align: center;
    }

    .precio-card-td, .total-card-td {
        padding: 0.1em;
        margin: 0.1em;
    }
    
    .total-card-td {
        padding-right: 0.2em;
    }

    .precio-card-td {
        text-align: center;
    }

    .precio-card {
        margin-left: 0.3em;
        margin-right: 0.5em;
    }

    .imagen-card {
        display: none;
    }

    .total-carrito {
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        margin-left: 1.1em;
        margin-right: 1.1em;
    }
    
    .total-carrito > button {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0.5em;
    }
}
