.contacto {
    display: grid;
    background-color: var(--color-fondo-section);
}

.contacto > h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.contacto > .contacto-form {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-right: 4em;
    margin-left: 4em;
}

.contacto > .contacto-form > form {
    display: grid;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}
.contacto > .contacto-form > form > label {
    margin-bottom: 0.2em;
}

.contacto > .contacto-form > form > input {
    margin-bottom: 1em;
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.botones > button {
    background-color: var(--color-fondo-boton);
    color: var(--color-texto);
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
}

#mensajeErrorEnvio {
    display: none;
    text-align: center;
    margin-top: 1em;
}

#mensajeErrorEnvio p {
    color: red;
    font-weight: bold;
}

#mensajeErrorEnvio.mensajeVisible {
    display: block;
}

@media (max-width: 48em) {
    .contacto > .contacto-form {
        grid-template-columns: 1fr;
        margin-right: 2em;
        margin-left: 2em;
    }
}

@media (max-width: 30em) {
    .contacto > .contacto-form {
        grid-template-columns: 1fr;
        margin-right: 2em;
        margin-left: 2em;
    }
}
