.novedades {
    background-color: var(--color-fondo-section);
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
}

.productos-novedades {
    display: flex;
    width: 100%;
    height: 35em;
    padding: 1em;
    box-sizing: border-box;
}

.novedades-box {
    flex: 1;
    overflow: hidden;
    margin: 0.5em;
    box-shadow: 0 1em 1.5em #000;
    transition: all 600ms;
    border-radius: 0.5em;
}

.novedades-box > .enlace-producto {
    text-decoration: none;
    color: var(--color-texto);
}

.novedades-box > .enlace-producto > img {
    width: 200%;
    height: calc(100% - 4em);
    object-fit: cover;
    transition: all 300ms;
}

.novedades-box > .enlace-producto > div {
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    height: 4em;
}

.novedades-box > .enlace-producto > div > h3 {
    margin-top: 0.5em;
    margin-bottom: 0em;
    padding-left: 0.5em;
}

.novedades-box > .enlace-producto > div > p {
    font-size: 0.7em;
    text-align: center;
    margin-top: 0.5em;
}

.novedades-box:hover {
    flex: 50%;
}

.novedades-box:hover > .enlace-producto > img {
    width: 100%;
}

.destacados {
    background-color: var(--color-fondo-section);
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    margin-bottom: 5em;
}

.productos-destacados {
    display: flex;
    width: 100%;
    height: 35em;
    padding: 1em;
    box-sizing: border-box;
}

.destacados-box {
    flex: 1;
    overflow: hidden;
    margin: 0.5em;
    box-shadow: 0 1em 1.5em #000;
    transition: all 600ms;
    border-radius: 0.5em;
}

.destacados-box > .enlace-producto {
    text-decoration: none;
    color: var(--color-texto);
}

.destacados-box > .enlace-producto > img {
    width: 200%;
    height: calc(100% - 4em);
    object-fit: cover;
    transition: all 300ms;
}

.destacados-box > .enlace-producto > div {
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    height: 4em;
}

.destacados-box > .enlace-producto > div > h3 {
    margin-top: 0.5em;
    margin-bottom: 0em;
    padding-left: 0.5em;
}

.destacados-box > .enlace-producto > div > p {
    font-size: 0.7em;
    text-align: center;
    margin-top: 0.5em;
}

.destacados-box:hover {
    flex: 50%;
}

.destacados-box:hover > .enlace-producto > img {
    width: 100%;
}

dialog.modal-producto {
    text-align: center;
}

@media (max-width: 48em) {
    .novedades,
    .destacados {
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 1em;
    }

    .destacados {
        margin-bottom: 2.5em;
    }

    .productos-novedades,
    .productos-destacados {
        flex-direction: column; /* Cambia de horizontal a vertical */
        height: auto;
    }

    .novedades-box,
    .destacados-box {
        margin: 0.25em;
    }

    .novedades-box > .enlace-producto > img,
    .destacados-box > .enlace-producto > img {
        width: 100%;
    }
}

@media (max-width: 30em) {
    .novedades,
    .destacados {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 0.5em;
    }

    .destacados {
        margin-bottom: 2.5em;
    }

    .productos-novedades,
    .productos-destacados {
        display: block; /* Cambia a diseño en bloque */
    }

    .novedades-box,
    .destacados-box {
        width: 100%; /* Asegura que cada caja ocupe el ancho completo */
        margin: 0.5em 0; /* Espaciado vertical entre cajas */
    }

    .novedades-box > .enlace-producto > img,
    .destacados-box > .enlace-producto > img {
        width: 100%;
    }
}