.encabezado-cabecera {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.encabezado-cabecera {
    background-color: var(--color-fondo-header-footer);
    color: var(--color-texto);
}

/*.encabezado-cabecera > */
.titulo {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;

    background-color: var(--color-fondo-header-footer);
    color: var(--color-texto);
}

.titulo > h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

.titulo > p {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.logo {
    background-color: var(--color-fondo-header-footer);
}

.logo > a > img {
    width: 200px;
    height: 200px;
    margin: 0.5em;
}

.login {
    display: flex;
    justify-self: end;
    height: 100%;
}

.encabezado-sesion {
    display: flex;
    justify-content: end;
    height: 100%;
    /*
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    */
}

@media (max-width: 48em) {
    .encabezado-cabecera {
        grid-template-columns: auto 2fr auto;
        text-align: center;
    }

    .titulo > h1 {
        font-size: 2em;
        margin-top: 0.2em;
        margin-bottom: 0.1em;
    }
    
    .titulo > p {
        font-style: italic;
        font-size: 0.7em;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    .logo > a > img {
        width: 150px;
        height: auto;
        margin: 0.25em;
    }
}

@media (max-width: 30em) {
    .encabezado-cabecera {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .titulo > h1 {
        font-size: 2em;
        margin-top: 0.1em;
        margin-bottom: 0.05em;
    }
    
    .titulo > p {
        margin-top: 0.01em;
        margin-bottom: 0.01em;
        font-size: 0.6em;
    }

    .logo > a > img {
        width: 100px;
        height: auto;
        margin: 0.1em;
    }

    .login {
        display: flex;
        justify-self: end;
        height: 100%;
        width: 100%;
        flex-direction: row-reverse;
        margin-top: 0.5em;
    }
}