.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-producto {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--color-fondo);
}

.modal-producto::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-producto-contenido {
    /*padding: 2em;*/
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.modal-producto-header {
    margin: 0.0625em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.modal-producto-header > h3 {
    padding-left: 0.5em;
    /*padding-top: 0.625em;
    padding-bottom: 0.625em;*/
}

.modal-producto-body {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    gap: 1em;
}

.modal-botonera {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    margin-bottom: 0.625em;
    padding-left: 1em;
    padding-right: 1em;
}